/* CSS styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    position: relative;
    text-align: center; /* لتوسيط المحتوى */
    overflow: hidden; /* لإخفاء النص عندما يخرج من حدود الحاوية */
}

h2 {
    color: #333;
}
.large-text {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
}

input, select, button {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 1em;
}

.side-button {
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
    color: #555;
    font-size: 18px; /* حجم الخط */
    font-weight: bold; /* توسيع الخط */
}

input[type="text"],
select {
    width: calc(100% - 20px); /* يوفر نفس المساحة لكافة حقول الإدخال */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
select:focus {
    border-color: #007bff;
    outline: none;
}

button {
    width: calc(100% - 20px); /* يوفر نفس المساحة لكافة الأزرار */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #20cf1a;
}

#result,
#convertedResult {
    margin-top: 20px;
    color: green;
    font-size: 24px;
    font-weight: bold;
}

/* إضافة نص متحرك */
@keyframes moveText {
    0% {
        transform: translateX(100%);
        text-shadow:  #FC0 1px 0 2px; /* إزالة الظل عند بداية الحركة */
    }
    100% {
        transform: translateX(-100%);
        text-shadow: #FC0 1px 0 2px; /* إزالة الظل عند بداية الحركة */
    }
}

.moving-text {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-150%);
    animation: moveText 10s linear infinite;
    width: 250px;
    color: blue;
    white-space: nowrap; /* لمنع النص من الانتقال إلى سطر جديد */
}

.large-text {
    font-size: 20px; /* حجم الخط الأكبر */
    font-weight: bold; /* توسيع الخط */
}

#numberInput {
    margin-top: 50px; /* تحريك النص إلى الأسفل */
}
/* Additional styles for RTL direction */
html[dir="rtl"] {
    font-family: 'Arial', sans-serif; /* Ensure proper font for Arabic text */
}