body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
  overflow: hidden; /* لإخفاء النص عندما يخرج من حدود الحاوية */
}

.moving-text {
  position: absolute;
  bottom: 10px;
  left: 100%;
  white-space: nowrap; /* لمنع النص من الانتقال إلى سطر جديد */
  animation: moveText 10s linear infinite;
  color: blue;
  text-align: center;
  font-size: 16px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.qr-container {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

.qr-code {
  width: 3cm;
  height: 3cm;
  margin: 0 auto;
  display: block;
}

.qr-code-image {
  width: 100%;
  height: 100%;
}

.item-name {
  margin-top: -10px;
  font-size: 10px;
}
#print-btn {
  display: none;
}
#save-btn{
  display: none;
}
.btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #01a807;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
}

.btn:hover {
  background-color: #1b0ed1;
}

.side-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #01a807;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
}

.side-button:hover {
  background-color: #1b0ed1;
}

.input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="file"] {
  margin-top: 3px;
}

label {
  display: block;
  margin-top: 10px;
}

#result,
#convertedResult {
  margin-top: 50px;
  color: green;
  font-size: 24px;
  font-weight: bold;
}

/* إضافة نص متحرك */
@keyframes moveText {
  0% {
    left: 100%;
    text-shadow: #fc0 1px 0 2px;
  }
  100% {
    left: -100%;
    text-shadow: #fc0 1px 0 2px;
  }
}

.large-text {
  font-size: 20px;
  font-weight: bold;
}

#numberInput {
  margin-top: 50px;
}

html[dir="rtl"] {
  font-family: "Arial", sans-serif;
}